<div class="enter-div">
  <p class="enter-h1">BravoTODO</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="col-1">
<!--      <%#= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "effect-1", placeholder: "Login" %>
      <span class="focus-border"></span>
    </div>

    <div class="col-1">
      <%#= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "current-password", class: "effect-1", placeholder: "Password" %>
      <span class="focus-border"></span>
    </div>

    <div class="col-1">
      <%#= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "effect-1", placeholder: "Password confirmation" %>
      <span class="focus-border"></span>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
  <div class="actions">
    <p class="sign">
      <%= link_to "Sign in", new_user_session_path %>
    </p>
  </div>

</div>