<div class="enter-div">
  <p class="enter-h1">BravoTODO</p>
  <p class="enter-h2">Welcome to BravoTODO</p>
  <p class="enter-h2">Here you can plan your tasks</p>
  <p class="enter-h5">You need to sing in before continuing.</p>

  <div class="enter-form-div">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "effect-1", placeholder: "Login" %>
        <span class="focus-border"></span>
      </div>

      <div class="col-3">
        <%= f.password_field :password, autocomplete: "current-password", class: "effect-1", placeholder: "Password" %>
        <span class="focus-border"></span>
      </div>

      <% if devise_mapping.rememberable? %>

        <div class="main-container-checkbox">
          <div class="checkbox tiny">
            <div class="checkbox-container">
              <%= f.check_box :remember_me, id: "checkbox-tiny", checked_type: "checkbox" %>
              <div class="checkbox-checkmark"></div>
            </div>
            <%= f.label :remember_me, for: "checkbox-tiny" %>
          </div>
        </div>

      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="actions">
      <p class="sign-up">
        <%= link_to "Sign up", new_user_registration_path %>
      </p>
    </div>
  </div>

</div>
