<%= render 'user-info' %>
<%= render 'back' %>

<div class="enter-div">
  <p class="enter-h2">Editing Todo</p>

  <div class="col-1">
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>

  <%= render 'form', todo: @todo %>

</div>
