<%= render 'user-info' %>

<div class="enter-div">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <p class="enter-h2">ToDos</p>

  <div class="col-1">
    <%= link_to '  ', new_todo_path, class: "plus_todo" %>
  </div>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Done</th>
        <th>Description</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table  cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <% @todos.each do |todo| %>
        <% if todo.done %>
          <tr class="compete-todo">
        <% else %>
          <tr>
        <% end %>
          <td>
            <%= link_to 'complete', complete_todo_path(todo), method: :patch %>
          </td>
          <td><%= todo.description %></td>
          <td><%= todo.date %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
          <td><%= link_to '   ', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-todo" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>

</div>



<%#= form_with(model: todo, local: true) do |form| %>
<!--            <div class="main-container-checkbox">-->
<!--              <div class="checkbox tiny">-->
<!--                <div class="checkbox-container">-->
<%#= form.check_box :done, id: "checkbox-tiny", checked_type: "checkbox", onclick: form.submit %>
<!--                  <div class="checkbox-checkmark"></div>-->
<!--                </div>-->
<%#= form.label :done, for: "checkbox-tiny" %>
<!--              </div>-->
<!--            </div>-->
<%# end %>
<%#= link_to 'complete', complete_todo_path(todo), method: :patch do %>
<%# end %>
<%#= button_to "complete", action: :complete %>