<%= render 'user-info' %>
<%= render 'back' %>

<div class="enter-div">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Done:</strong>
    <%= @todo.done %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @todo.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @todo.date %>
  </p>

  <%= link_to 'Edit', edit_todo_path(@todo) %>

</div>
